/* Global Styles */
body,
header {
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  font-family: 'Oxygen', sans-serif; /* Default font as Oxygen */
}

/* Applying specific fonts for H2, H3 */
h1,
h2,
h3 {
  font-family: 'Rufina', serif;
}

/* If you want to style H1 specifically */
h1 {
  font-size: 5rem;
}


h3 {
  font-size: 2rem;
}

.App-link {
  color: #61dafb;
}

/* Other default App styles */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 200px; /* Adjust according to your header height */
}
